*{
    margin: 0px;
    padding: 0px;
 }

 /* Designing Navigation bar  */

 nav ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 40px 70px;
   /* border: 1px solid black; */
   color: white;
   height: 30px;
 }

 nav .nav-container{
   display: flex;
   justify-content: right;
   align-items: center;
   gap: 38px;
 }


 nav .header{
   background-color: rgba(0, 0, 0, 0.151);
 }

 
 nav a{
   text-decoration: none;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   font-weight: 500;
 }

 nav li{
   list-style-type: none;
 }
 
 .logo img{
   height: 85px;
   width: 200px;
 }

 nav{
   position: fixed;
   width: 100%;
   top: 0px;
 }

 nav a:hover{
   color: rgb(199, 123, 244);
 }

 /* Designing Home app-link section */



 .app-link{
   background: url(./images/app-link-background.svg) no-repeat center/cover ;
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
 }

 .app-link h4{
   margin-bottom: 15px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
 }

 .home-heading h3{
   color: white;
   font-family: cursive;
   font-size: 69px;
   width: fit-content;
   text-transform: uppercase;
   margin-top: 150px;
   text-shadow: 0px 0px 3px black ;
 }

 .order-on-web-btn button{
   padding: 12px 32px;
   font-size: 20px;
   background-color: rgb(255, 86, 114);
   color: white;
   border-radius: 10px;
   border: none;
   font-weight: 700;
 }

 .order-on-web-btn button:hover{
  background-color: rgb(224, 57, 28);
  color: white;
 }

 .app-store{
   display: flex;
   /* border: 1px solid white; */
   justify-content: space-between;
   align-items: center;
   width: 36%;
   margin: auto;
 }

 .play-store-btn img{
   height: 85px;
   width: fit-content;
 }

 .order-on-web-btn{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 60px;
   margin-bottom: 10px;
 }

 .order-on-web-btn button{
   cursor: pointer;
 }

 




 /* Designing Features Section */

 .features{
  display: flex;
  justify-content: space-around;
  margin: 0px 60px;
 }

 .features-main{
  height: 100vh;
  width: 100%;
  display: grid;
 }

 .features-header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.678);
 }


 .feature-container img{
  height: 200px;
 }

 .feature-description{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: arial;
  color: rgba(0, 0, 0, 0.555);
 }

 body{
    background-color:white;
 }

 /* Designing after features */

 .banner1{
    background: url(./images/banner-1.webp);
    width: 100%;
    height: 100vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
 }

 #banner1-header{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 90px;
    width: fit-content;
    margin: auto;
    text-transform: uppercase;
    font-family:cursive;
    text-shadow: 0px 0px 3px black
 }

 /* designing for see full Menu banner */

 .banner2{
  background: url(./images/banner-2.webp);
  width: 100%;
  height: 125vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
}

#banner2-header{
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 90px;
  width: fit-content;
  text-transform: uppercase;
  font-family:cursive;
  text-shadow: 0px 0px 3px black;
  align-items: center;
  margin-top: 150px;
}

.banner2-content button{
  background-color: transparent;
  width: 19%;
  border-radius: 50px;
  font-size: 30px;
  padding: 12px 5px;
  font-weight: lighter;
  font-family: arial;
  border: 1px solid white;
  margin-top: 150px;
  cursor: pointer;
}

.banner2-content a{
  text-decoration: none;
  color: white;
}

/* Designing for connect with us section */

.main-heading{
  text-align: center;
  padding: 40px;
  font-size: 35px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: lighter;
  color: rgb(66, 66, 66);
  margin-bottom: 30px;
}

.connect-with-us-main{
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.795);
}

.connect-with-us-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  margin-bottom: 40px;
}

.connect-with-us{
  height: 250px ;
  /* border: 1px solid black; */
  width: 250px;
}

.phone-no{
  background-image: url(./images/phone_icon.svg) ;
  background-repeat: no-repeat;
  height: 70px;
  /* border: 1px solid black; */
  color: rgba(0, 0, 0, 0.726);
  padding-left: 55px;
}

.connect-with-us .header{
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.connect-with-us .email{
  background-image: url(./images/mail_icon.svg);
  background-repeat: no-repeat;
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.726);
  padding-left: 55px;
  height: 25px;
}

.connect-with-us .phone-no p{
  margin-top:10px;
  color: rgba(0, 0, 0, 0.726);
}

.quick-links{
  height: 250px ;
  /* border: 1px solid black; */
  width: 250px;
}

.quick-links .header{
  margin-bottom: 35px;
  display: flex;
  align-items: center;
}

.links-list{
  /* border: 1px solid black; */
  width: fit-content;
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-weight: bold;
  font-size: larger;
}

.links-list .working{
  color:rgba(238, 47, 79, 0.801);
}



.email-input-container{
  height: 250px ;
  /* border: 1px solid black; */
  width: 600px;
}

.email-input input{
  
  height: 60px;
  width: 70%;
  border-radius: 50px;
  border: 1px solid black;
  outline: none;
  padding-left: 25px;
  font-size: large;
  margin-top: 40px;
}


.email-input input::placeholder{
  font-size: large;
}

.email-desciption p{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.692);
}

.connect-with-us-container2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  margin-bottom: 50px;
}

.head-office{
  height: 250px ;
  /* border: 1px solid black; */
  width: 250px;
  font-size: 19px;
}

.head-office .header{
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.locations{
  height: 250px ;
  /* border: 1px solid black; */
  width: 250px;
  font-size: 19px;
}

.locations .header{
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.location-desc li{
  height: 80px;
  /* border: 1px solid black; */
  width:fit-content;
  align-items: center;
  margin-left: 20px;
}

.follow-us{
  height: 250px ;
  /* border: 1px solid black; */
  width: 600px;
}

.social-icons i{
  color: rgba(238, 47, 79, 0.801);
  font-size: 50px;
  padding: 0px 20px;
}

.follow-us .header{
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.footer-logo{
  width: 200px;
  height: 50px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.footer-logo img{
  height: 40px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg  , rgb(244, 123, 228) , rgb(165, 13, 56));
  font-size: 15px;
  height: 50px;
  width: 100%;
  color: white;
  font-family: sans-serif;
  margin-top: 50px;
}



